*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.column{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    /* align-items: center; */
    margin: 10px;
    justify-content: center;
}
.column span{
    color: crimson;
    font-size: 2em;
    font-style: italic;
}
.column button{
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: grey;
}
.column button:hover{
    background-color: #008cba;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}